*{
    padding:0;
    margin:0;
    text-align:center;
}
body{
    background-color:teal;
    height:100vh;
}
#container{
    max-width:1040px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    display:grid;
    grid-template-columns: 
        20px 230px 40px 30px 30px 70px auto 30px 80px 220px 20px;
    grid-template-areas: 
    "margin-left top-link top-link . . . . . . search margin-right"
    "margin-left logo . . . . . . . social-media margin-right"
    "margin-left nav nav nav nav nav nav nav nav nav margin-right"
    "margin-left photo photo photo photo photo banner-text banner-text banner-text banner-text margin-right"
    "margin-left services-1 services-1 services-1 . services-2 services-2 . services-3 services-3 margin-right"
    ;
}
#top-link{
    grid-area:top-link;
    background-color:aqua;
}
#search{
    grid-area:search;
    background-color:aquamarine;
}
#logo{
    grid-area:logo;
    background-color:yellow;
}
#social-media{
    grid-area:social-media;
    background-color:coral;
}
#nav{
    grid-area:nav;
    background-color:crimson;
}
#photo{
    grid-area:photo;
    background-color:greenyellow;
}
#banner-text{
    grid-area:banner-text;
    background-color:crimson;
}

.services-1{
    grid-area:services-1;
    background-color:yellow;
}
.services-2{
    grid-area:services-2;
    background-color:yellow;
}
.services-3{
    grid-area:services-3;
    background-color:yellow;
}
